.card {
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #DCFCE7;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 12px rgba(22, 163, 74, 0.1);
}

.image {
  width: 100%;      /* Full width of card */
  height: 200px;    /* Fixed height */
  object-fit: cover; /* Crop properly */
  display: block;
}

.content {
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #14532D;
  margin-bottom: 8px;
}
.description{
  height: 40px;
  font-size: 14px;
  color: #4B5563;
  margin-bottom: 15px;
}

.instructor {
  font-size: 14px;
  color: #444c5c;
  margin-bottom: 15px;
}

.progressContainer {
  width: 100%;
  height: 8px;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progressBar {
  width: 100%;
  height: 8px;
  background-color: #DCFCE7;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progressFill {
  height: 100%;
  background-color: #16A34A; ;
  border-radius: 10px;
  width: 0; /* Start from 0 */
  transition: width 1s ease-in-out;
}

.progressText {
  font-size: 13px;
  color: #363a44;
  margin-bottom: 15px;
}

.button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #16A34A, #22C55E);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(to right, #15803D, #16A34A);
}